<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Principal</title>
    <link href="bootstrap-3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-1.12.0.min.js"></script>
    <link href="css/sidebar.css" rel="stylesheet">
  </head>
  <body>
      {{$prendas := index . "prendas"}}


      <div id="wrapper" class="">

          <!-- Sidebar -->
          <div id="sidebar-wrapper">
              <ul class="sidebar-nav">
                  <li class="sidebar-brand">
                      <div class="col-lg-12">
                      <img src="img/logo4.png" width="200" height="200" align="center"/>
                    </div>
                  </li>
                  <li>
                    <div class="col-lg-12">
                    <div class="btn-group" role="group" aria-label="...">
                        <a class="btn" onclick="javascript:mostrarPrendasFem()"><img width="60px" src="icons/female.png"></a>
                        <a class="btn" onclick="javascript:mostrarPrendasMasc()"><img src="icons/male.png" width="60px"></a>
                    </div>
                  </li>
                  <li>
                    <div class="col-lg-12">
                      <a class="btn" onclick="javascript:filtrarTipo(1)"><img id="shoeicon" width="40px" src="icons/shoe-fem.jpg"></a>
                    </div>
                  </li>
                  <li>
                    <div class="col-lg-12">
                      <a class="btn" onclick="javascript:filtrarTipo(3)"><img id="shirticon" src="icons/shirt-fem.png" width="40px"></a>
                    </div>
                  </li>
                  <li>
                    <div class="col-lg-12">
                      <a class="btn" onclick="javascript:filtrarTipo(2)"><img id="jeansicon" width="40px" src="icons/jeans-fem.png"></a>
                    </div>
                  </li>
                  <li>
                    <div class="col-lg-12">
                      <a class="btn" onclick="javascript:filtrarTipo(4)"><img id="jacketicon" src="icons/jacket-fem.jpg" width="40px"></a>
                    </div>
                  </li>
                  <li>
                    <div class="col-lg-12">
                      <button class="btn btn-success" onclick="javascript:filtrarTipo(-1)">Mostrar todos</button>
                    <div>
                  </li>
                  <li>
                    <div class="col-lg-12">
                        <button onclick="javascript:location.href='/generarCombinacion'" class="btn btn-primary">Generar combinación</button>
                  </div>
                  </li>
              </ul>
          </div>

          <!-- /#sidebar-wrapper -->

          <!-- Page Content -->
          <div id="page-content-wrapper">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-lg-12">
                        {{range $prendas}}
                          <img src="{{.Foto}}" onclick="javascript:seleccionarImagen({{.ID}})" prendaid={{.ID}} color={{.ColorID}} ocasion={{.OcasioniD}} genero={{.UsuarioID}} tipo={{.TipoPrendaID}} width="150" height="150"/>
                        {{end}}
                      </div>
                  </div>
              </div>
          </div>
          <!-- /#page-content-wrapper -->

      </div>
      <!-- /#wrapper -->

      <!-- jQuery -->
      <script src="js/jquery.js"></script>

      <!-- Bootstrap Core JavaScript -->
      <script src="js/bootstrap.min.js"></script>

      <!-- Menu Toggle Script -->
      <script>
      $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
      });

      function mostrarPrendasMasc(){
          $("img[genero='1']").hide();
          $("img[genero='2']").show();
          iconosMasc();
      }

      function iconosMasc(){
          $("#shoeicon").prop("src","icons/shoe-male.png");
          $("#shirticon").prop("src","icons/shirt-male.png");
          $("#jeansicon").prop("src","icons/jeans-male.jpg");
          $("#jacketicon").prop("src","icons/jacket-male.jpg");
      }

      function iconosFem(){
          $("#shoeicon").prop("src","icons/shoe-fem.jpg");
          $("#shirticon").prop("src","icons/shirt-fem.png");
          $("#jeansicon").prop("src","icons/jeans-fem.png");
          $("#jacketicon").prop("src","icons/jacket-fem.jpg");
      }


      function mostrarPrendasFem(){
          $("img[genero='2']").hide();
          $("img[genero='1']").show();
          iconosFem();
      }

      function filtrarColor(colorID){
          if (colorID == -1){
              for (var i =0;i<17;i++){
                  $("img[color='"+i+"']").show();
              }
          } else{
              for (var i =0;i<17;i++){
                  $("img[color='"+i+"']").hide();
              }
              $("img[color='"+colorID+"']").show();
          }
      }

       function filtrarTipo(tipo){
          if (tipo == -1){
              for (var i =1;i<5;i++){
                  $("img[tipo='"+i+"']").show();
              }
          } else{
              for (var i =0;i<5;i++){
                  $("img[tipo='"+i+"']").hide();
              }
              $("img[tipo='"+tipo+"']").show();
          }
      }
      var listaSeleccionados = [];

      function seleccionarImagen(id){
        listaSeleccionados.push(id);
        console.log(listaSeleccionados);
      }

      function limpiarSeleccion(id){
          listaSeleccionados = [];
      }
      </script>

  </body>

</html>
